.footer {
  background-color: brown;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 2rem 0;

    p {
      padding-right: 2rem;
      opacity: 0.6;
      @include font(500, 2rem, 125%);
      color: #f5f5f5;
    }
  }
}