.header {
    background-color: aliceblue;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2rem 0;
    }

    &__logo {
        display: inline-block;
        @include font(700, 3rem, 120%);
        text-transform: uppercase;
        color: var(--primary);

        &:hover {
            color: var(--primaryHover);
        }
    }
}

.nav {
    &__list {
        display: flex;
        gap: 2rem;
    }

    &__item {
        a {
            display: inline-block;
            padding: 1rem 2rem;
            border-radius: 1.5rem;
            background-color: transparent;
            @include font(500, 2rem, 120%);
            color: var(--primary);

            &:hover {
                color: var(--white);
                background-color: var(--bgDark);
            }
        }
    }
}