.programs {
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__subtitle {
        margin-top: 1.5rem;
    }

    &__content {
        margin-bottom: 7.5rem;

        .subtitle-card {
            margin-bottom: 1rem;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        padding: 3.9rem 8.1rem;
        gap: 1rem;
        border-radius: 2.4rem;
        background: var(--blueBg);

        &-title {
            font-family: "Montserrat", sans-serif;
            @include font(700, 3rem, 135%);
            text-transform: none;
        }

        &-subtitle {
            color: var(--grey);
        }
    }
}

@media (min-width:120px) {
    .programs {
        position: relative;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__subtitle {
            margin-top: 15px;
        }

        &__content {
            margin-bottom: 75px;

            .subtitle-card {
                margin-bottom: 10px;
            }
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            padding: 39px 81px;
            gap: 10px;
            border-radius: 24px;
            background: var(--blueBg);

            &-title {
                font-family: "Montserrat", sans-serif;
                @include font(700, 30px, 135%);
                text-transform: none;
            }

            &-subtitle {
                color: var(--grey);
            }
        }
    }
}

@media (max-width:48em) {
    .programs {
        position: relative;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__subtitle {
            margin-top: 1rem;
        }

        &__content {
            margin-bottom: 5rem;

            .subtitle-card {
                margin-bottom: 0;
            }
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            padding: 3rem 2rem;
            gap: .5rem;
            border-radius: 4rem;
            background: var(--blueBg);

            &-title {
                font-family: "Montserrat", sans-serif;
                @include font(700, 2rem, 135%);
                text-transform: none;
            }

            &-subtitle {
                color: var(--grey);
                font-size: 1.4rem;
            }
        }
    }
}