:root {
    --blueDark: #1C307D;
    --blueLight: #42B3EF;
    --blueBg: #ECF7FF;
    --grey: #36383F;
    --greyBg: #F6F6F6;
    --greyBorder: #D4D9E3;
    --green: #6FB924;
    --greenBg: #E4F8D1;
    --orange: #FFAE1B;
    --white: #FFFFFF;
}